/Library
/Temp
*.csproj
*.pidb
*.unityproj
*.sln
*.userprefs

/obj/Debug/Assembly-CSharp-Editor-firstpass-vs.csproj.FileListAbsolute.txt

/obj/Debug/Assembly-CSharp-Editor-firstpass-vs.csprojResolveAssemblyReference.cache
/obj/Debug/Assembly-CSharp-Editor-firstpass.dll
/obj/Debug/Assembly-CSharp-Editor-firstpass.pdb

/obj/Debug/*.pdb
/obj/Debug/*.pdb
/obj/Debug/Assembly-CSharp.pdb
/*.suo
